@model Asp.Net.MVC5_TatilSeyehatSitesi.Models.TBLCONTACT
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="contact">
    <div class="wrap">
        <div class="contact-top">
            <h3>İletişim Bilgileri</h3>
            <p> @Model.DESCRIPTION</p>
        </div>
        <div class="form">
            <form class="cmxform" id="contactForm" method="post">
                <div>
                    <input type="text" class="textbox" value="Adsoyad:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                </div>
                <div>
                    <input type="text" class="textbox" value="Mail:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                </div>
                <div>
                    <input type="text" class="textbox" value="Telefon:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}">
                </div>
                <div>
                    <p><span class="read">Gönder</span></p>
                </div>
            </form>
        </div>
        <div class="form1">
            <div>
                <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Mesaj:</textarea>
            </div>
        </div>
        <div class="clear"></div>
        <div class="contact-bottom">
            <div class="contact-left">
                <div class="contact-add">
                    <h3>1. Adres</h3>
                    <p> @Model.ADDRESS</p>
                    <p>Telefon: @Model.PHONE</p>
                    <p>Fax:@Model.FAX</p>
                    <p>Mail:<a href="mailto:@Model.EMAIL">@Model.EMAIL</a></p>
                </div>
                <div class="contact-add">
                    <h3>2. Adres</h3>
                    <p>Telefon:@Model.PHONE2</p>
                    <p>Fax:@Model.FAX2</p>
                    <p>Mail:<a href="mailto:@Model.EMAIL2">@Model.EMAIL2</a></p>
                </div>
            </div>
            <div class="contact-map">
                <iframe src="@Model.LOCATION" width="580" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

