@using Asp.Net.MVC5_TatilSeyehatSitesi.Models
@model TableList

@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/toastr.min.css" />
<script src="~/Scripts/toastr.min.js"></script>
<link href="~/BlogTheme/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="~/BlogTheme/css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!----webfonts---->
<link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
<!----//webfonts---->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--end slider -->
<!--script-->
<script type="text/javascript" src="~/BlogTheme/js/move-top.js"></script>
<script type="text/javascript" src="~/BlogTheme/js/easing.js"></script>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<!---header---->
<!--/header-->
<div class="single">
    <div class="container">
        <div class="col-md-8 single-main">
            @foreach (var x in Model.Blog)
            {
                <div class="single-grid">
                    <img src="~/image/@x.IMAGE" alt="@x.TITLE" />
                    <h2>
                        @x.TITLE
                    </h2>
                    <p>
                        @x.DESCRIPTOIN
                    </p>
                </div>
            }
            @Html.Action("Comments", "Blog")
            <div class="content-form">
                <h3>Yorum Yazın</h3>
                @Html.Action("Comment", "Blog")
            </div>
        </div>

        @Html.Action("BlogRightSideBar", "Blog")
    </div>
</div>
<!---->

@if (TempData["success"] != null)
{
    <script>
        toastr["success"]("@TempData["success"]")
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
}

@if (TempData["error"] != null)
{
    <script>
        toastr["error"]("@TempData["error"]")
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
}

